framework: net6.0
source https://api.nuget.org/v3/index.json
source /Users/schorsch/Development/aardvark.dom/bin/pack

storage: none

nuget FSharp.Core                           >= 6.0.1 lowest_matching: true
                                            
nuget Aardvark.Build                        ~> 1.0.20

nuget Aardvark.Base                         ~> 5.2.24
nuget Aardvark.Base.Incremental             ~> 5.2.24
nuget Aardvark.Base.FSharp                  ~> 5.2.24
nuget Aardvark.Base.Tensors                 ~> 5.2.24

nuget Microsoft.ML.OnnxRuntime              ~> 1.15.1
nuget System.Numerics.Tensors               ~> 0.1.0
nuget BERTTokenizers                        ~> 1.2.0

nuget Aardvark.Dom                          ~> 1.0.0-prerelease0037
nuget Aardvark.Dom.Elm                      ~> 1.0.0-prerelease0037    
nuget Aardvark.Dom.Giraffe                  ~> 1.0.0-prerelease0037    
nuget Aardvark.Dom.Bootstrap                  ~> 1.0.0-prerelease0037    
nuget Aardium                               ~> 2.0.10-prerelease0007
nuget Aardvark.Application.Slim.GL          ~> 5.3.8
nuget Adaptify.Core                         ~> 1.1.9