framework: net6.0
source https://api.nuget.org/v3/index.json

storage: none

nuget FSharp.Core                           >= 6.0.1 lowest_matching: true
                                            
nuget Aardvark.Build                        ~> 1.0.20

nuget Aardvark.Base                         ~> 5.2.24
nuget Aardvark.Base.Incremental             ~> 5.2.24
nuget Aardvark.Base.FSharp                  ~> 5.2.24
nuget Aardvark.Base.Tensors                 ~> 5.2.24

nuget Microsoft.ML.OnnxRuntime              ~> 1.15.1
nuget System.Numerics.Tensors               ~> 0.1.0